body{
    background: black;
}


.girl{
    color:blue;
width: 20%;
padding: 20px;
border:20px solid pink;
    
}

.boy{
    text-align: right;
    padding: 20px;
    color: red;
    border: 2px blue dotted;
    
    
    
    
}
h3{
    border: 10px solid grey;
    color: green;
    
}

.june{
    color:red;
}
h1{
    color: red;
    border: 10px solid green;
    text-align: center;
}
.maga{
    color: yellow;
}

footer{
    color: red;
    border: 20px white solid;
    padding: 18px;
    text-align: center;
    float: center;
}